@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cards:4;
  --cardHeight:50vh;
  --cardTopPadding:0rem;
  --cardMargin:2vw;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


ul li{
cursor: pointer;
color: whitesmoke;
}
ul li span:hover{
color: rgb(10, 10, 244)violet;
}
.top-rounded{
  border-radius: 3vh 3vh 0 0;
}

.navbar{
  background-color: transparent;
  transition: all 0.2s ease-in;
}
.navbar.active{
background-color: #0a0a0a;
}



.container{
  width: 40%;
  height: auto;
  color: black;
  margin: 0 auto;
}

@media screen and (max-width:768px) {
  .container{
    width: 100%;
  }
}
#cards{
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards),var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc((var(--cards)));
  margin-bottom: var(--cardMargin);
}

#card1{
  --index:1;
}
#card2{
  --index:2;
}
#card3{
  --index:3;
}
#card4{
  --index:4;
}


.card{
  position: sticky;
  top: 20vh;
  color: black;
  padding-top: calc(var(--index)*var(--cardTopPadding));
}
.message{
  padding-top: calc(var(--index));
position: -webkit-sticky;
}
#card1 .card-body{
  background-color: red;
}
#card2 .card-body{
  background-color: rgb(68, 255, 0);
}
#card3 .card-body{
  background-color: rgb(68, 0, 255);
}
#card4 .card-body{
  background-color: rgb(255, 0, 204);
}


.card-body{
  padding: 30px;
  border-radius: 4vh;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
  height: var(--cardHeight);
}
.footer-card-body{
  border-radius: none;
  height: auto;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);


}
.footer-card{
  color: black;

  position: sticky;
  top: 0;
}
.footer-container{
  width: 100%;
  height: auto;
  color: black;
  margin: 0 auto;
}
#footer-cards{
  list-style: none;
  display: grid;
  /* grid-template-columns: auto; */
  grid-template-rows: 2;
  /* gap: var(--cardMargin);
  padding-bottom: calc((var(--cards)));
  margin-bottom: var(--cardMargin); */
}


.btn:hover span{
background-color: white;
color: black;
}
.btn:hover span p{
  color: black;
}