@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cards:4;
  --cardHeight:50vh;
  --cardTopPadding:0rem;
  --cardMargin:2vw;
  --color_0: 255,255,255;
  --color_1: 255,255,255;
  --color_2: 0,0,0;
  --color_3: 237,28,36;
  --color_4: 0,136,203;
  --color_5: 255,203,5;
  --color_6: 114,114,114;
  --color_7: 176,176,176;
  --color_8: 255,255,255;
  --color_9: 114,114,114;
  --color_10: 176,176,176;
  --color_11: 255,255,255;
  --color_12: 237,237,237;
  --color_13: 170,169,169;
  --color_14: 78,78,78;
  --color_15: 23,23,23;
  --color_16: 127,125,255;
  --color_17: 94,92,255;
  --color_18: 60,58,255;
  --color_19: 2,0,221;
  --color_20: 2,0,175;
  --color_21: 227,227,255;
  --color_22: 216,216,255;
  --color_23: 189,189,255;
  --color_24: 177,177,255;
  --color_25: 165,165,226;
  --color_26: 255,237,237;
  --color_27: 255,177,177;
  --color_28: 239,63,63;
  --color_29: 187,0,0;
  --color_30: 137,1,1;
  --color_31: 223,250,255;
  --color_32: 190,244,255;
  --color_33: 144,237,255;
  --color_34: 96,220,245;
  --color_35: 46,209,241;
  --color_36: 255,255,255;
  --color_37: 0,0,0;
  --color_38: 227,227,227;
  --color_39: 151,151,151;
  --color_40: 79,79,79;
  --color_41: 56,74,211;
  --color_42: 0,0,0;
  --color_43: 151,151,151;
  --color_44: 255,255,255;
  --color_45: 0,0,0;
  --color_46: 0,0,0;
  --color_47: 79,79,79;
  --color_48: 56,74,211;
  --color_49: 56,74,211;
  --color_50: 255,255,255;
  --color_51: 255,255,255;
  --color_52: 56,74,211;
  --color_53: 56,74,211;
  --color_54: 151,151,151;
  --color_55: 151,151,151;
  --color_56: 255,255,255;
  --color_57: 255,255,255;
  --color_58: 56,74,211;
  --color_59: 56,74,211;
  --color_60: 56,74,211;
  --color_61: 56,74,211;
  --color_62: 255,255,255;
  --color_63: 255,255,255;
  --color_64: 151,151,151;
  --color_65: 151,151,151;
  --font_0: normal normal bold calc(145 * var(--theme-spx-ratio))/0.9em familjen-grotesk,'familjen grotesk',sans-serif;
  --font_1: normal normal normal 16px/1.4em din-next-w01-light,sans-serif;
  --font_2: normal normal bold calc(70 * var(--theme-spx-ratio))/1.1em familjen-grotesk,'familjen grotesk',sans-serif;
  --font_3: normal normal normal calc(44 * var(--theme-spx-ratio))/1.2em madefor-display,helveticaneuew01-45ligh,helveticaneuew02-45ligh,helveticaneuew10-45ligh,sans-serif;
  --font_4: normal normal bold calc(35 * var(--theme-spx-ratio))/1.3em madefor-display,helveticaneuew01-45ligh,helveticaneuew02-45ligh,helveticaneuew10-45ligh,sans-serif;
  --font_5: normal normal bold calc(22 * var(--theme-spx-ratio))/1.4em madefor-display,helveticaneuew01-45ligh,helveticaneuew02-45ligh,helveticaneuew10-45ligh,sans-serif;
  --font_6: normal normal bold calc(22 * var(--theme-spx-ratio))/1.2em familjen-grotesk,'familjen grotesk',sans-serif;
  --font_7: normal normal normal calc(20 * var(--theme-spx-ratio))/1.4em madefor-display,helveticaneuew01-45ligh,helveticaneuew02-45ligh,helveticaneuew10-45ligh,sans-serif;
  --font_8: normal normal normal calc(18 * var(--theme-spx-ratio))/1.4em madefor-display,helveticaneuew01-45ligh,helveticaneuew02-45ligh,helveticaneuew10-45ligh,sans-serif;
  --font_9: normal normal normal 16px/1.6em madefor-display,helveticaneuew01-45ligh,helveticaneuew02-45ligh,helveticaneuew10-45ligh,sans-serif;
  --font_10: normal normal normal 12px/1.4em din-next-w01-light,sans-serif;
  --wix-ads-height: 0px;
  --sticky-offset: 0px;
  --wix-ads-top-height: 0px;
  --vh-unit: calc( (100vh - 0px) / 100);
  --site-width: 980px;
  --above-all-z-index: 100000;
  --portals-z-index: 100001;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --minViewportSize: 320;
  --maxViewportSize: 1920;
  --theme-spx-ratio: min(0.078125 * var(--one-unit), var(--section-max-width) / 1280);
  --scaling-factor: min((100 * var(--one-unit)), var(--section-max-width));
  --customScaleViewportLimit: clamp(var(--minViewportSize) * 1px, 100 * var(--one-unit), min(var(--section-max-width), var(--maxViewportSize) * 1px));
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


ul li{
cursor: pointer;
color: whitesmoke;
}
ul li span:hover{
color: rgb(10, 10, 244)violet;
}
.top-rounded{
  border-radius: 3vh 3vh 0 0;
}

.navbar{
  /* background-color: transparent; */
  transition: all 0.2s ease-in;
}
.navbar.active{
background-color: #0a0a0a;
}



.container{
  width: 40%;
  height: auto;
  color: black;
  margin: 0 auto;
}

#cards{
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards),var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc((var(--cards)));
  margin-bottom: var(--cardMargin);
}

#card1{
  --index:1;
}
#card2{
  --index:2;
}
#card3{
  --index:3;
}
#card4{
  --index:4;
}


.card{
  position: sticky;
  top: 40vh;
  color: black;
  padding-top: calc(var(--index)*var(--cardTopPadding));
}
.message{
  padding-top: calc(var(--index));
/* position: -webkit-sticky;, */
}



.card-body{
  padding: 30px;
  border-radius: 4vh;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
  height: var(--cardHeight);
}

@media screen and (max-width:768px) {
  .container{
    width: 90%;
    position: relative;
    top: 0vh;
  }
  #cards{
    display: flex;
    flex-direction: column;

  }
  .card-body{
    height: 40vh;
    margin-top: 0vh;
  }
}
.footer-card-body{
  border-radius: none;
  height: auto;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);


}

.footer-card{
  color: black;
  position: sticky;
  top: 0;
}
.footer-container{
  width: 100%;
  height: auto;
  color: black;
  margin: 0 auto;
}
#footer-cards{
  list-style: none;
  display: grid;
  grid-template-rows: 2;
}


.btn:hover span{
background-color: white;
color: black;
}
.btn:hover span p{
  color: black;
}


.login-shadow{
  box-shadow: 4px 4px 27.7px -6px rgba(0, 0, 0, 0.25);
}


@layer base {
  :root {
    --background:0 0% 100%;
    --foreground:222.2 84% 4.9%;
    --card:0 0% 100%;
    --card-foreground:222.2 84% 4.9%;
    --popover:0 0% 100%;
    --popover-foreground:222.2 84% 4.9%;
    --primary:222.2 47.4% 11.2%;
    --primary-foreground:210 40% 98%;
    --secondary:210 40% 96.1%;
    --secondary-foreground:222.2 47.4% 11.2%;
    --muted:210 40% 96.1%;
    --muted-foreground:215.4 16.3% 46.9%;
    --accent:210 40% 96.1%;
    --accent-foreground:222.2 47.4% 11.2%;
    --destructive:0 84.2% 60.2%;
    --destructive-foreground:210 40% 98%;
    --border:214.3 31.8% 91.4%;
    --input:214.3 31.8% 91.4%;
    --ring:222.2 84% 4.9%;
    --chart-1:12 76% 61%;
    --chart-2:173 58% 39%;
    --chart-3:197 37% 24%;
    --chart-4:43 74% 66%;
    --chart-5:27 87% 67%;
    --radius:0.5rem;
  }
  .dark {
    --background:222.2 84% 4.9%;
    --foreground:210 40% 98%;
    --card:222.2 84% 4.9%;
    --card-foreground:210 40% 98%;
    --popover:222.2 84% 4.9%;
    --popover-foreground:210 40% 98%;
    --primary:210 40% 98%;
    --primary-foreground:222.2 47.4% 11.2%;
    --secondary:217.2 32.6% 17.5%;
    --secondary-foreground:210 40% 98%;
    --muted:217.2 32.6% 17.5%;
    --muted-foreground:215 20.2% 65.1%;
    --accent:217.2 32.6% 17.5%;
    --accent-foreground:210 40% 98%;
    --destructive:0 62.8% 30.6%;
    --destructive-foreground:210 40% 98%;
    --border:217.2 32.6% 17.5%;
    --input:217.2 32.6% 17.5%;
    --ring:212.7 26.8% 83.9%;
    --chart-1:220 70% 50%;
    --chart-2:160 60% 45%;
    --chart-3:30 80% 55%;
    --chart-4:280 65% 60%;
    --chart-5:340 75% 55%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
